@import "../../styles/_index";

.list__item {
  display: flex;
  flex-flow: row;
  align-items: center;
  & > p,
  a {
    text-align: left;
    @include h1();
  }
  & > p {
    color: #003459;
  }
}
.list__item__date {
  @import "../../styles/_index";
}
