@import "../../styles/_index";

.Segment {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: #00171f;
  padding-left: $padding;
  padding-right: $padding;
  @media #{$tablet, $mobile} {
    height: 50vh;
  }
}

.Segment {
  &.indigo {
    height: auto;
    padding-top: 35vh;
    padding-bottom: 15vh;
    @media #{$tablet} {
      padding-top: 10vh;
      padding-bottom: 7.5vh;
    }
    @media #{$mobile} {
      padding-top: 10vh;
      padding-bottom: 7.5vh;
      justify-content: flex-end;
    }
    & > * {
      color: #00a8e8;
      text-align: left;
      @include h1();
    }
    @include space-between-p-tags();
  }
  &.navy {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
    height: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
    background-color: #003459;
    color: white;
    @media #{$tablet} {
      height: auto;
      padding-top: 7.5vh;
      padding-bottom: 7.5vh;
    }
    & > * {
      color: #ffffff;
      text-align: right;
      @include h1();
    }
    @media #{$tablet, $mobile} {
      align-items: flex-start;
    }
  }
  &.turquise {
    justify-content: flex-start;
    background-color: #007ea7;
    text-align: right;
    height: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
    & > * {
      color: #003459;
      text-align: left;
      @include h1();
    }
    @include space-between-p-tags();
    @media #{$tablet} {
      padding-top: 7.5vh;
      padding-bottom: 7.5vh;
    }
  }
}
