@import "../../styles/_index";

.Segment {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: #00171f;
  padding-left: $padding;
  padding-right: $padding;
  @media #{$tablet, $mobile} {
    height: 50vh;
  }
}

.Segment {
  &:first-child {
    height: auto;
    margin-bottom: 5vh;
    margin-top: 40vh;
    @media #{$tablet} {
      margin-bottom: 5%;
      margin-top: 20vh;
    }
    @media #{$mobile} {
      height: 5vh;
      justify-content: flex-end;
    }
  }
  &:nth-child(2) {
    height: auto;
    margin-bottom: $padding;
    @media #{$tablet} {
      height: auto;
      margin-bottom: 10%;
    }
  }
  &:nth-child(3) {
    justify-content: center;
    background-color: #003459;
    height: 50vh;
    color: white;
    @media #{$tablet} {
      height: auto;
      padding-top: 10%;
      padding-bottom: 10%;
    }
  }
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    justify-content: flex-start;
    background-color: #007ea7;
    text-align: right;
    height: auto;
  }
  &:nth-child(4) {
    padding-top: 10%;
    @media #{$tablet} {
      padding-top: 10%;
    }
  }
  &:nth-child(5) {
    padding-top: 5%;
    @media #{$tablet} {
      padding-top: 5%;
    }
  }
  &:nth-child(6) {
    padding-top: 5%;
    padding-bottom: 10%;
    @media #{$tablet} {
      padding-top: 5%;
      padding-bottom: 12%;
    }
  }
  &:nth-child(7) {
    justify-content: center;
    background-color: #003459;
    height: 50vh;
    color: white;
    @media #{$tablet} {
      height: auto;
      padding-top: 10%;
      padding-bottom: 10%;
    }
  }
}

.Segment {
  &.indigo {
    & > * {
      color: #00a8e8;
      text-align: left;
      @include h1();
    }
  }
  &.navy {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    & > * {
      color: #ffffff;
      text-align: right;
      @include h1();
    }
    @media #{$tablet, $mobile} {
      align-items: flex-start;
    }
  }
  &.turquise {
    & > * {
      color: #003459;
      text-align: left;
      @include h1();
    }
  }
}
