@import "./variables.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@mixin h1() {
  margin: 0;
  padding: 0;
  width: auto;
  font-weight: bold;
  @include fluid-type(
    $font_min_width,
    $font_max_width,
    $font_min_size,
    $font_max_size
  );
  @media #{$mobile} {
    text-align: left;
  }
}
