.main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: auto;
  margin: 0;
  padding: var(--padding);
  background-color: #007ea7;
  list-style: none;
  text-align: right;
}
.item {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  font-size: var(--fluid-0);
}

.item > p,
.item > a {
  text-align: left;
  /* @include h1(); */
  margin: 0;
  padding: 0;
  width: auto;
  font-weight: bold;
}

.item > p {
  color: #003459;
}
