.h1 {
  margin: 0;
  padding: 0;
  width: auto;
  font-weight: bold;
  font-size: var(--fluid-type);
  /* @include fluid-type(
    $font_min_width,
    $font_max_width,
    $font_min_size,
    $font_max_size
  );
  @media #{$mobile} {
    text-align: left;
  } */
}
.h1:nth-of-type(2n) {
  margin-bottom: 5vh;
  /* @media #{$tablet} {
    margin-bottom: 2.5vh;
  }
  @media #{$mobile} {
    margin-bottom: 5vh;
  } */
}
.h1:last-of-type {
  margin-bottom: 0;
}

.h1 > a {
  margin: 0;
  padding: 0;
  width: auto;
  font-weight: bold;
  font-size: var(--fluid-type);
  text-decoration: underline;
  margin-bottom: 0;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}
