@import "../../styles/_index";

.nav {
  display: none;
  visibility: hidden;
  width: auto;
  height: 10vh;
  text-align: right;
  background-color: transparent;
  padding-left: $padding;
  padding-right: $padding;
  margin-top: 5vh;
  & > a {
    @include h1();
  }
}
