.main {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: #00171f;
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.indigo {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: #00171f;
  padding-left: var(--padding);
  padding-right: var(--padding);
  height: auto;
  padding-top: 35vh;
  padding-bottom: 15vh;
}

.indigo > p {
  margin: 0;
  padding: 0;
  width: auto;
  color: #00a8e8;
  text-align: left;
  font-weight: bold;
  font-size: var(--fluid-type);
}

.indigo > p:nth-child(2) {
  margin-bottom: 1.5em;
}

.navy {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: #00171f;
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  justify-content: center;
  height: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
  background-color: #003459;
  color: white;
}
.navy > p {
  margin: 0;
  padding: 0;
  width: auto;
  color: #ffffff;
  text-align: right;
  font-weight: bold;
  font-size: var(--fluid-type);
}

.turquise {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background-color: #00171f;
  padding-left: var(--padding);
  padding-right: var(--padding);
  justify-content: flex-start;
  background-color: #007ea7;
  text-align: right;
  height: auto;
  padding-top: 15vh;
  padding-bottom: 15vh;
}
.turquise > p {
  margin: 0;
  padding: 0;
  width: auto;
  color: #003459;
  text-align: left;
  font-weight: bold;
  font-size: var(--fluid-type);
}

.turquise > p:nth-child(2n) {
  margin-bottom: 1.5em;
}

.turquise > p:last-child {
  margin-bottom: 0;
}

.blog {
  height: auto;
  display: flex;
  flex-flow: column;
  padding-left: var(--padding);
  padding-right: var(--padding);
  padding-top: 20vh;
  padding-bottom: var(--padding);
  background-color: #00171f;
}

.blog > p {
  margin: 0;
  padding: 0;
  width: auto;
  color: #00a8e8;
  text-align: right;
  font-weight: bold;
  font-size: var(--fluid-type);
}

.postHeadline {
  height: auto;
  display: flex;
  flex-flow: column;
  padding: var(--padding);
  padding-top: calc(var(--padding) * 2);
  padding-bottom: calc(var(--padding) / 2);
  justify-content: center;
  align-items: flex-start;
  background-color: #003459;
  text-align: left;
  color: #cecece;
}

.postHeadline > h1 {
  margin: 0;
  padding: 0;
  width: 75%;
  text-align: left;
  font-weight: bold;
  font-size: var(--fluid-type);
  line-height: 1.2em;
  margin-bottom: calc(var(--padding) / 4);
}

.postHeadline > time {
  margin: 0;
  padding: 0;
  width: 75%;
  text-align: left;
  font-weight: bold;
  font-size: var(--fluid-type-post);
  font-style: italic;
}

.post {
  height: auto;
  display: flex;
  flex-flow: column;
  padding: var(--padding);
  padding-top: calc(var(--padding) / 2);
  justify-content: center;
  align-items: flex-start;
  background-color: #f1f1f1;
  text-align: left;
}
.post > h2 {
  width: 75%;
  text-align: left;
  font-weight: bold;
  font-size: var(--fluid-type-h2);
  line-height: 1.2em;
}

.post > ul {
  margin: 0;
  padding: 0;
  padding-left: 5%;
  width: 75%;
  color: #003459;
  text-align: left;
  font-weight: bold;
  font-size: var(--fluid-type-post);
  font-weight: 400;
}

.post > p + ul {
  margin-top: -1em;
  margin-bottom: 1em;
}

.post > p {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #003459;
  text-align: left;
  font-weight: bold;
  font-size: var(--fluid-type-post);
  font-weight: 400;
}

@media (min-width: 900px) {
  .post > p {
    width: 64%;
  }
}

.post > p {
  margin-bottom: calc(var(--text-padding));
}

.post > p:last-child {
  margin-bottom: 0;
}

.post > p > a {
  color: rgb(0, 52, 89);
  text-decoration: unset;
  font-weight: 600;
}

.post > p > a:hover {
  text-decoration: underline;
}

.post > blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  color: #003459;
  font-size: var(--fluid-type-post);
  font-weight: 400;
  font-style: italic;
}
@media (min-width: 900px) {
  .post > blockquote {
    width: 64%;
  }
}

.post > blockquote:before {
  content: "\201C";
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em "PT Sans", sans-serif;
  color: #003459;
  text-align: center;
}
/* .post > blockquote:after {
  content: "\2013 \2003"attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
} */
